<<<<<<< HEAD

   * {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul, li{list-style:none;}
body {
font-size: 14px;
}



[name="slide"] {display:none;}

.slidebox {max-width: 10000px;width:100%;margin:0 auto;text-align: center;}

.slidebox img {max-width:100%;}

.slidebox .slidelist{
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}

.slidebox .slideitem{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .35s;
}

.slidebox .slideitem label {
    position:absolute;
    z-index: 1;
top:50%;
transform:translateY(-50%);
padding:20px;
border-radius:50%;
cursor:pointer;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

label.left{
    left:-22px;
    background-position:left;
    background-repeat:no-repeat;
}

label.right{
    right:-21.5px;
    background-position:center center;
    background-size: 50%;
    background-repeat:no-repeat;
}
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:#333;}

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 10s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 10s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 10s infinite;}

@keyframes slide01 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:-300%;}
	98% {left:-300%;}
	100% {left:0%;}
}
@keyframes slide02 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide03 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide04 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:300%;}
	48% {left:300%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}



  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v251_3 {
    width: 100%;
    height: 1024px;
    background: rgba(16, 5, 78, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v258_40 {
    width: 100%;
    height: 800px;
    background: url('../images/v258_40.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v251_7 {
    width: 100%;
    height: 73px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border: 4px solid yellow ;
  }
  .name {
    color: #fff;
  }
  .v251_116 {
    width: 45px;
    height: 35px;
    background: url("https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/search.jpg?raw=true");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 1345px;
    overflow: hidden;
  }
  .v251_4 {
    width: 140px;
    color: rgba(16, 5, 77, 1);
    position: absolute;
    top: 9px;
    left: 108px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend;
    font-weight: 1000;
    font-size: 45px;
    opacity: 1;
    text-align: left;
    font-weight: bold;
  }
  .v251_11 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 20%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .v251_18 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 35%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: 900;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    margin-top: 17px;
  }
  .v251_19 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v251_20 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 65%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v251_16 {
    width: 16px;
    height: 80px;
    background: rgba(0, 0, 92, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 33px;
    overflow: hidden;
  }
  .v251_17 {
    width: 5px;
    height: 80px;
    background: rgba(0, 0, 92, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 52px;
    overflow: hidden;
  }

 
  
  .v251_3 {
    width: 100%;
    height: 1024px;
    background: rgba(16, 5, 78, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v258_40 {
    width: 100%;
    height: 800px;
    background: url('../images/v258_40.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v251_7 {
    width: 100%;
    height: 65px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border: 4px solid yellow ;
  }
  .name {
    color: #fff;
  }
  .v251_116 {
    width: 45px;
    height: 35px;
    background: url("https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/search.jpg?raw=true");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 1345px;
    overflow: hidden;
  }
  .v251_4 {
    width: 140px;
    color: rgba(16, 5, 77, 1);
    position: absolute;
    top: 9px;
    left: 108px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend;
    font-weight: 1000;
    font-size: 45px;
    opacity: 1;
    text-align: left;
    font-weight: bold;
  }
  .v251_11 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 300px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 26px;
    opacity: 1;
    text-align: center;
  }
  .v251_18 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 550px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: 900;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    margin-top: 17px;
  }
  .v251_19 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 800px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v251_20 {
    width: 220px;
    color: rgba(0, 0, 92, 1);
    position: absolute;
    top: 2px;
    left: 1000px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v251_16 {
    width: 16px;
    height: 80px;
    background: rgba(0, 0, 92, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 33px;
    overflow: hidden;
  }
  .v251_17 {
    width: 5px;
    height: 80px;
    background: rgba(0, 0, 92, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 52px;
    overflow: hidden;
  }
  .v251_22 {
    width: 100px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 2%;
    left: 1400px;
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v251_21 {
    width: 100px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 2%;
    left:1325px;
    font-family: Noto Sans KR;
    font-weight: Black;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }



  .v251_31 {
    width: 100%;
    height: 853px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 171px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v251_32 {
    width: 810px;
    height: 333px;
    background: url('../images/v251_32.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 135px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }
  .v251_33 {
    width: 361px;
    height: 333px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 945px;
    overflow: hidden;
  }
  .v251_34 {
    width: 134px;
    height: 333px;
    background: rgba(36, 36, 36, 0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1306px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v251_35 {
    width: 134px;
    height: 333px;
    background: rgba(36, 36, 36, 0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  font-size: 14px;
}

[name='slide'] {
  display: none;
}

.slidebox {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.slidebox img {
  max-width: 100%;
}

.slidebox .slidelist {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}

.slidebox .slideitem {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.35s;
}

.slidebox .slideitem label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* HIDE RADIO */
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  outline: 2px solid #f00;
}

label.left {
  left: -22px;
  background-position: left;
  background-repeat: no-repeat;
}

label.right {
  right: -21.5px;
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.paginglist {
  text-align: center;
  padding: 30px 0;
}
.paginglist > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.paginglist > li > label {
  display: block;
  padding: 10px 30px;
  border-radius: 10px;
  background: #ccc;
  cursor: pointer;
}
.paginglist > li:hover > label {
  background: #333;
}

[id='slide01']:checked ~ .slidelist .slideitem {
  transform: translateX(0);
  animation: slide01 20s infinite;
}
[id='slide02']:checked ~ .slidelist .slideitem {
  transform: translateX(-100%);
  animation: slide02 10s infinite;
}
[id='slide03']:checked ~ .slidelist .slideitem {
  transform: translateX(-200%);
  animation: slide03 10s infinite;
}
[id='slide04']:checked ~ .slidelist .slideitem {
  transform: translateX(-300%);
  animation: slide04 10s infinite;
}

@keyframes slide01 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  73% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide02 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  73% {
    left: -200%;
  }
  75% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide03 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  50% {
    left: 200%;
  }
  73% {
    left: 200%;
  }
  75% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide04 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: 300%;
  }
  48% {
    left: 300%;
  }
  50% {
    left: 200%;
  }
  73% {
    left: 200%;
  }
  75% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v251_3 {
  width: 100%;
  height: 1024px;
  background: rgba(16, 5, 78, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v258_40 {
  width: 100%;
  height: 800px;
  background: url('../images/v258_40.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v251_7 {
  width: 100%;
  height: 73px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border: 4px solid yellow;
}
.name {
  color: #fff;
}
.v251_116 {
  width: 45px;
  height: 35px;
  background: url('https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/search.jpg?raw=true');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1345px;
  overflow: hidden;
}
.v251_4 {
  width: 140px;
  color: rgba(16, 5, 77, 1);
  position: absolute;
  top: 9px;
  left: 108px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lexend;
  font-weight: 1000;
  font-size: 45px;
  opacity: 1;
  text-align: left;
  font-weight: bold;
}
.v251_11 {
  width: 220px;
  color: rgba(0, 0, 92, 1);
  position: absolute;
  top: 2px;
  left: 20%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v251_18 {
  width: 220px;
  color: rgba(0, 0, 92, 1);
  position: absolute;
  top: 2px;
  left: 35%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans KR;
  font-weight: 900;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  margin-top: 17px;
}
.v251_19 {
  width: 220px;
  color: rgba(0, 0, 92, 1);
  position: absolute;
  top: 2px;
  left: 50%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v251_20 {
  width: 220px;
  color: rgba(0, 0, 92, 1);
  position: absolute;
  top: 2px;
  left: 65%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v251_16 {
  width: 16px;
  height: 80px;
  background: rgba(0, 0, 92, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  overflow: hidden;
}
.v251_17 {
  width: 5px;
  height: 80px;
  background: rgba(0, 0, 92, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 52px;
  overflow: hidden;
}
.v251_22 {
  width: 100px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2%;
  left: 89%;
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v251_21 {
  width: 100px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2%;
  left: 83%;
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v251_31 {
  width: 100%;
  height: 853px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  z-index: 2;
}
.v251_32 {
  width: 810px;
  height: 333px;
  background: url('../images/v251_32.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 135px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.v251_33 {
  width: 361px;
  height: 333px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 945px;
  overflow: hidden;
}
.v251_34 {
  width: 134px;
  height: 333px;
  background: rgba(36, 36, 36, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1306px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v251_35 {
  width: 134px;
  height: 333px;
  background: rgba(36, 36, 36, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.makam {
  margin-top: 800px;
  z-index: 100;
  background-color: #ccc;
}
>>>>>>> Jun
