<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Lexend&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="../static/complain.css" rel="stylesheet" />
  </head>
  <body>
    <div class="v251_3">
      <div class="v258_40">
        <div class="v251_7">
          <div class="name"></div>
          <div class="v251_116"></div>
        </div>
        <span class="v251_4">
          <img
            src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EB%B2%A0%ED%83%80.png?raw=true"
            style="width: 130%; margin-top: -20px; margin-right: 100px"
          />
        </span>
        <a href="./intro"
          ><span class="v251_11" style="margin-top: 17px; font-weight: 900">
            회사 소개
          </span>
        </a>
        <a href="./companyList"
          ><span class="v251_18" style="margin-top: 17px; font-weight: 900">
            기업 리스트
          </span>
        </a>
        <a href="./comapply">
          <span class="v251_19" style="margin-top: 17px; font-weight: 900">
            기업 등록
          </span>
        </a>
        <a href="./complain"
          ><span class="v251_20" style="margin-top: 17px; font-weight: 900">
            고객센터
          </span>
        </a>
        <div class="v251_16"></div>
        <div class="v251_17"></div>
      </div>
      <span class="v251_22">회원가입</span>
      <a href="./main_page"><span class="v251_21">로그인</span></a>

      <!-- <div class="v251_117">
      <div class="v251_118">
        <div class="v251_119">
          <div class="name"></div>
          <div class="v251_121"></div>
        </div>
        <span class="v251_122">BETA</span><span class="v253_42">BETA</span
        ><span class="v251_123">회사 소개</span
        ><span class="v251_124">기업 리스트</span
        ><span class="v251_125">기업 등록</span
        ><span class="v251_126">고객센터</span>
        <div class="v251_127"></div>
        <div class="v251_128"></div>
      </div>
      <span class="v251_129">회원가입</span><span class="v251_130">로그인</span> -->

      <div class="v251_131">
        <div class="v251_137">
          <div class="v251_138">
            <span class="v251_139"> 고객센터 </span>
            <span class="v251_140">
              이용 중 개선이 필요한 점이나 불편한 점이 있으시다면 글로
              적어주세요.
            </span>
          </div>
          <div class="v251_141">
            <div class="v251_142">
              <div class="v251_143"></div>
              <span class="v251_144">주요 Q&A</span>
            </div>
            <div class="v251_145">
              <div class="v251_146"></div>
              <span class="v251_147">2022.11.01</span>
            </div>
            <div class="v251_148">
              <div class="v251_149"></div>
              <span class="v251_150">관리자</span>
            </div>
            <div class="v251_151">
              <div class="v251_152"></div>
              <span class="v251_153">공지</span>
            </div>
            <div class="v251_154"></div>
          </div>
          <div class="v251_155">
            <div class="v251_156">
              <div class="v251_157"></div>
              <span class="v251_158">메일 확인 부탁드립니다.</span>
            </div>
            <div class="v251_159">
              <div class="v251_160"></div>
              <span class="v251_161">2022.11.25</span>
            </div>
            <div class="v251_162">
              <div class="v251_163"></div>
              <span class="v251_164">배준호</span>
            </div>
            <div class="v251_165">
              <div class="v251_166"></div>
              <span class="v251_167">3</span>
            </div>
            <div class="v251_168"></div>
          </div>
          <div class="v251_169">
            <div class="v251_170">
              <div class="v251_171"></div>
              <span class="v251_172">리워드는 언제 되나요?</span>
            </div>
            <div class="v251_173">
              <div class="v251_174"></div>
              <span class="v251_175">2022.11.22</span>
            </div>
            <div class="v251_176">
              <div class="v251_177"></div>
              <span class="v251_178">배병윤</span>
            </div>
            <div class="v251_179">
              <div class="v251_180"></div>
              <span class="v251_181">2</span>
            </div>
            <div class="v251_182"></div>
          </div>
          <div class="v251_183">
            <div class="v251_184">
              <div class="v251_185"></div>
              <span class="v251_186">홈페이지 사용 중 불편한 사항 건의</span>
            </div>
            <div class="v251_187">
              <div class="v251_188"></div>
              <span class="v251_189">2022.11.20</span>
            </div>
            <div class="v251_190">
              <div class="v251_191"></div>
              <span class="v251_192">문예성</span>
            </div>
            <div class="v251_193">
              <div class="v251_194"></div>
              <span class="v251_195">1</span>
            </div>
            <div class="v251_196"></div>
          </div>
          <div class="v251_197">
            <div class="v251_198">
              <div class="v251_199"></div>
              <span class="v251_200">제목</span>
            </div>
            <div class="v251_201">
              <div class="v251_202"></div>
              <span class="v251_203">작성일</span>
            </div>
            <div class="v251_204">
              <div class="v251_205"></div>
              <span class="v251_206">작성자</span>
            </div>
            <div class="v251_207">
              <div class="v251_208"></div>
              <span class="v251_209">번호</span>
            </div>
            <div class="v251_210"></div>
          </div>
          <div class="v251_211"></div>
        </div>
      </div>
    </div>
  </body>
</html>
