<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/login.css" />
    <title>Document</title>
  </head>
  <body>
    <!--    <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/BETAlogo.png?raw=true">-->
    <div class="wrap">
      <div class="login">
        <a href="./main_page" id="login_logo">
          <img
            width="100%"
            src="https://raw.githubusercontent.com/ChanWooong/GET_IT_Hackathon/main/image/BETAlogo.png"
          />
        </a>
        <div class="login_id">
          <h4>E-mail</h4>
          <input type="email" name="" id="email" placeholder="Email" />
        </div>
        <div class="login_pw">
          <h4>Password</h4>
          <input
            type="password"
            name=""
            id="passemail"
            placeholder="Password"
          />
        </div>
        <div class="login_etc">
          <div class="checkbox">
            <input type="checkbox" name="" id="" /> remember me
          </div>
          <div class="forgot_pw">
            <a href="">아이디/비밀번호 찾기</a>
          </div>
        </div>
        <div class="submit">
          <button type="submit">
            <h4>로그인</h4>
          </button>
        </div>
        <div class="login_sns">
          <button type="button" id="kakao_login">
            <img
              src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/kakaoLogo.jpg?raw=true"
              id="kakao_logo"
            />
            <a href="https://accounts.kakao.com/login/">
              <h4 style="margin-top: 3px; padding-right: 50px">
                카카오톡 로그인
              </h4>
            </a>
          </button>
        </div>
        <div class="login_sns">
          <button type="button" id="google_login">
            <a href="https://accounts.google.com/">
              <img
                src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/googlelogo.png?raw=true"
                id="google_logo"
              />
              <h4 style="margin-top: 3px; padding-right: 55px">구글 로그인</h4>
            </a>
          </button>
        </div>
        <p style="margin-top: 10%; opacity: 0.7">
          COPYRIGHT@2022 BETA CO. GET_IT
        </p>
      </div>
    </div>
  </body>
</html>
