<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lexend&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet"/>
</head>

<body>
    <div class="v251_3">
        <div class="v258_40">
          <div class="v251_7">
            <div class="name"></div>
            <div class="v251_116"></div>
          </div>
          <span class="v251_4">
            <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EB%B2%A0%ED%83%80.png?raw=true" style="width: 130%; margin-top: -20px"/>
        </span>
          <span class="v251_11" style="margin-top: 17px; font-weight: 900">
            회사 소개
            </span>
          <span class="v251_18" style="margin-top: 17px; font-weight: 900">
            기업 리스트</span>
          <span class="v251_19" style="margin-top: 17px; font-weight: 900">
            기업 등록
        </span>
          <span class="v251_20" style="margin-top: 17px; font-weight: 900">
            고객센터
        </span>
          <div class="v251_16"></div>
          <div class="v251_17"></div>
        </div>
        <span class="v251_22">회원가입</span>
        <a href="./main_page"><span class="v251_21">로그인</span></a>
        <div class="v251_31">
          <div class="v251_32"></div>
          <div class="v251_33"></div>
          <div class="v251_34"></div>
          <div class="v251_35"></div>
        </div>
      </div>
        <ul class="makam">
            <li><a href="http://" style="position:absolute ;top:1000px;left:50px">마감임박 d-1</a></li>
            <li><a href="http://">마감임박 d-4</a></li>
            <li><a href="http://">마감임박 d-7</a></li>
        </ul>
        <div class="v251_31">
            <div class="slidebox">

                    <input type="radio" name="slide" id="slide01" checked>
                    <input type="radio" name="slide" id="slide02">
                    <input type="radio" name="slide" id="slide03">
                    <input type="radio" name="slide" id="slide04">

                <ul class="slidelist">
                    <li class="slideitem">
                        <div>
                            <label for="slide04" class="left">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%99%BC%EC%AA%BD.png?raw=true">
                            </label>
                            <label for="slide02" class="right">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%98%A4%EB%A5%B8%EC%AA%BD.png?raw=true">
                            </label>
                            <a><img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/coupang.png?raw=true"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <label for="slide01" class="left">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%99%BC%EC%AA%BD.png?raw=true">
                            </label>
                            <label for="slide03" class="right">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%98%A4%EB%A5%B8%EC%AA%BD.png?raw=true">
                            </label>
                            <a><img src="https://raw.githubusercontent.com/ChanWooong/GET_IT_Hackathon/main/image/kakao.webp"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <label for="slide02" class="left">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%99%BC%EC%AA%BD.png?raw=true">
                            </label>
                            <label for="slide04" class="right">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%98%A4%EB%A5%B8%EC%AA%BD.png?raw=true">
                            </label>
                            <a><img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/airbnb.jpg?raw=true"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <label for="slide03" class="left">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%99%BC%EC%AA%BD.png?raw=true">
                            </label>
                            <label for="slide01" class="right">
                                <img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/%EC%98%A4%EB%A5%B8%EC%AA%BD.png?raw=true">
                            </label>
                            <a ><img src="https://github.com/ChanWooong/GET_IT_Hackathon/blob/main/image/baeMin.jpg?raw=true" style="width:700px"></a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</body>

</html> 