<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lexend&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet"/>
</head>

<body>
    <div class="v251_3">
        <div class="v258_40">
          <div class="v251_7">
            <div class="name"></div>
            <div class="v251_116"></div>
          </div>
          <span class="v251_4">
            <img src="../image/베타.png" style="width: 130%; margin-top: -20px;margin-right: 100px;"/>
        </span>
        <a href="./complain"><span class="v251_11" style="margin-top: 17px; font-weight: 900">
            회사 소개
            </span>
        </a>
        <a href="./complain"><span class="v251_18" style="margin-top: 17px; font-weight: 900">
            기업 리스트
            </span>
        </a>
        <a href="./complain"> <span class="v251_19" style="margin-top: 17px; font-weight: 900">
            기업 등록
            </span>
        </a>
        <a href="./complain"><span class="v251_20" style="margin-top: 17px; font-weight: 900">
            고객센터
            </span>
        </a>
          <div class="v251_16"></div>
          <div class="v251_17"></div>
        </div>
        <span class="v251_22">회원가입</span>
        <a href="./main_page"><span class="v251_21">로그인</span></a>
        <!-- <a href="./main_page"><span class="v251_21">로그인</span></a> -->
        <div class="v251_31">
          <div class="v251_32"></div>
          <div class="v251_33"></div>
          <div class="v251_34"></div>
          <div class="v251_35"></div>
        </div>
      </div>
        <div class="v251_31">
            <div class="slidebox">

                    <input type="radio" name="slide" id="slide01" checked>
                    <input type="radio" name="slide" id="slide02">
                    <input type="radio" name="slide" id="slide03">
                    <input type="radio" name="slide" id="slide04">

                <ul class="slidelist">
                    <li class="slideitem">
                        <div>
                            <label for="slide04" class="left">
                                <img src="../image/왼쪽.png">
                            </label>
                            <label for="slide02" class="right">
                                <img src="../image/오른쪽.png">
                            </label>
                            <a><img src="../image/쿠팡.png"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <label for="slide01" class="left">
                                <img src="../image/왼쪽.png">
                            </label>
                            <label for="slide03" class="right">
                                <img src="../image/오른쪽.png">
                            </label>
                            <a><img src="../image/카카오.png"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <label for="slide02" class="left">
                                <img src="../image/왼쪽.png">
                            </label>
                            <label for="slide04" class="right">
                                <img src="../image/오른쪽.png">
                            </label>
                            <a><img src="../image/에어비엔비.png"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <label for="slide03" class="left">
                                <img src="../image/왼쪽.png">
                            </label>
                            <label for="slide01" class="right">
                                <img src="../image/오른쪽.png">
                            </label>
                            <a><img src="../image/배달의민족.png"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html> 