<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheet.css" />
  </head>
  <body>
    <div class="v210_2">
      <div class="v210_3">
        <!-- <div class="v210_4"></div>-->
        <div>
          <ul>
            <a href="./intro"><li class="v210_20">BETA 소개</li></a>
            <a href="./companyList"><li class="v210_17">회사 리스트</li></a>
            <li class="v210_11">등록 신청</li>
            <li class="v210_14">고객센터</li>
          </ul>
        </div>
        <div class="v210_21">
          <span class="v210_22">로그인</span>
          <span class="v210_23">/</span>
          <span class="v210_24">회원가입</span>
        </div>
        <div class="v210_25"></div>
      </div>
    </div>
  </body>
</html>
